*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.image-screen{
  background-image: url(dark-black-technology-background-vector.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .my-img{
    height: 50%;
    margin-left: -5%;
  }
}

@media only screen and (min-width: 400px) {
  .my-img{
    height: 50%;
    margin-left: -4%;
  }
} 

@media only screen and (min-width: 450px) {
  .my-img{
    height: 50%;
    margin-left: 7%;
  }
} 

 @media only screen and (min-width: 500px) {
  .my-img{
    height: 50%;
    margin-left: 7%;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .my-img{
    height: 60%;
    margin-left: 7%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .my-img{
    height: 70%;
    margin-left: 20%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .my-img{
    height: 70%;
    margin-left: 25%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .my-img{
    height: 80%;
    margin-left: 30%;
  }
}



